.App {
  display: flex;
  justify-content: center;
}

.header {
  height: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

.header-text {
  align-self: center;
  font-size: 2rem;
  color: white;
  font-weight: 300;
}

.container {
  margin: 20px;
  background-color: #d9dbd7;
}

.body {
  padding: 20px;
}

.body .inner-container {
  overflow: hidden;
  background-color: white;
  border-radius: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s steps(2, end);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
